@import "../../app";

.banner-wrapper {
  display: flex;
  flex-shrink: 0;
  height: 50%;
  background: $light-grey;

  .product-one {
    flex-grow: 1;
    background: url('../../../images/product-1-transparent.png') no-repeat center ;
    background-size: 80%;
  }
  .product-two {
    flex-grow: 1;
    background: url('../../../images/product-2-transparent.png') no-repeat center ;
    background-size: 80%;
  }
}

@include for-phone-only {
  .banner-wrapper{
    height: 58%;
    .banner-desktop.product-one, .banner-desktop.product-two {
      display: none;
    }
  }
}